<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>コマンド・コンボ練習サイト</h1>
  <p>キーボード/コントローラー両対応です</p>
  <div id="log">以下から練習するコマンド・コンボを選択してください</div>
  <%= link_to "236236Pコマンド", hadouken_path %><br>
  <%= link_to "214214Pコマンド", command_214214P_path %><br>
  <%= link_to "一回転コマンド", ikkaiten_path%>

</body>
</html>
