<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>コマンド・コンボ練習サイト</h1>
  <p>キーボード/コントローラー両対応です</p>
  <div id="log">以下から練習するコマンド・コンボを選択してください</div>
  <%= link_to "波動拳"%>

  <script src="main.js"></script>
</body>
</html>
